SMTP_HOST="mail.gandi.net"
SMTP_USERNAME="log@rezal-mdm.com"
SMTP_PASSWORD="<mdp>"

LDAP_SERVER="ldaps://ldap.rezal-mdm.com"
LDAP_USERNAME="uid=Rezal,ou=People,dc=rezal-mdm,dc=com"
LDAP_PASSWORD="<mdp>"

DATABASE_SERVER="mysql+pymysql://rezal:<mdp>@localhost/utilisateurs_rezal"

POSITION_UTILISATEURS_LDAP="ou=People,dc=rezal-mdm,dc=com" # Position des utilisateurs dans l'arbre du LDAP
GROUPE_WIFI_LDAP="cn=wifi,ou=Gestion,ou=Groups,dc=rezal-mdm,dc=com" # Groupe dans lequel il faut être pour avoir le WiFi
GROUPE_ADMIN_LDAP="cn=admin_site,ou=Gestion,ou=Groups,dc=rezal-mdm,dc=com" # Groupe des admins du site

SEND_EMAIL=true
CHANGE_RADIUS=true
RUST_LOG="backend=debug,rezal_db=debug"

SECRET_KEY = "<générée par openssl rand -hex 32>"
SECRET_KEY_MAIL = "<générée par openssl rand -hex 32>"
