// General for users

/* User board - Minimalistic style */
.user-board-container {
    max-width: 1000px;
    margin: 40px auto;

    @media (max-width: 768px) {
        max-width: 95%;
        /* Adjusted max-width for small screens */
        margin: 15px auto;
        padding: 15px;
    }
}

.welcome-section {
    text-align: left;
    margin-bottom: 10px;

    h1 {
        color: #333;
        margin-bottom: 5px;
        font-size: 1.8em;

        @media (max-width: 768px) {
            font-size: 1.8em;
        }
    }

    div {
        color: #555;

        @media (max-width: 768px) {
            font-size: 0.95em;
        }
    }
}

.user-info-card,
.cotisations-card {
    flex: 1;

    .title-part {
        margin-bottom: 0;
        border-bottom: 2px solid #333;
        margin-bottom: 20px;
        padding-bottom: 10px;

        text-align: left;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.board-columns-container {
    display: flex;
    gap: 20px;
    /* Space between columns */
    margin-bottom: 25px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.user-info-card table {
    width: 100%;
    max-width: 100%;
    margin: 0;
    // border-collapse: collapse;

    margin-bottom: 10px;

    td {
        padding: 10px 15px;
        border: 1px solid #eee;
        font-size: 0.95em;
        overflow: scroll;

        &:first-child {
            background-color: #fcfcfc;
            width: 1%;
            white-space: nowrap;
            color: #666;
        }
    }
}


.cotisations-card .list-group {
    width: 100%;
    margin: 0;
    border: none;

    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cotisation-info {
        border: none;
        display: flex;
        flex-direction: column;

        div {
            border-bottom: none;
            font-weight: bold;
        }

        small {
            font-size: 0.8em;
            color: #777;
        }

        @media (max-width: 768px) {
            margin-bottom: 5px;
        }
    }

    .cotisation-status {
        display: flex;
        align-items: center;
        font-weight: 600;
        border: none;

        .status-yes {
            color: #1a661a;
        }

        .status-no {
            color: #cc0000;
        }

        .cotisation-activate-btn {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 6px 12px;
            font-size: 0.95em;
            margin-left: 15px;

            &:disabled {
                background-color: #cccccc;
                color: #666666;
                cursor: not-allowed;
            }

            @media (max-width: 768px) {
                margin-left: 10px;
                padding: 6px 12px;
                font-size: 0.85em;
            }
        }
    }
}

.guidance-section {
    padding: 10px;
    text-align: left;

    p,
    div {
        margin-bottom: 15px;
        line-height: 1.6;

        @media (max-width: 768px) {
            font-size: 0.9em;
        }
    }

    u {
        font-weight: bold;
        color: #333;
        text-decoration: underline;
    }
}

/* UserRegister */
#register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    min-height: 30vh;
}

#column-container {
    display: flex;
    justify-content: space-between;
}

#university-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#promotion-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}