// Display service
.pagination-control-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;

    .pagination-control-label {
        font-weight: 500;
    }

    .pagination-control-select {
        width: auto;
        display: inline-block;
    }

    .pagination-control-total-text {
        margin-left: 5px;
        font-size: 0.9rem;
    }

    .pagination-control-buttons {
        display: flex;
        align-items: center;
        gap: 5px;

        .pagination-control-btn {
            min-width: 36px !important;
            height: 30px !important;
            padding: 0 !important;
        }

        .pagination-control-page-info {
            font-size: 0.9rem;
            min-width: 100px;
            text-align: center;
        }
    }
}

// Auth service

#login-form {
    display: flex;
    justify-content: center; /* Changed from space-around */
    align-items: center; /* Added to center items horizontally in column */
    flex-direction: column;
    margin: 10vh auto 0 auto; /* Added top margin to push it down */
    max-width: 600px;
    max-width: 90%;
    min-height: 30vh;
    text-align: center; /* Added to center text content like h2 and links */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 2vh; /* Add some vertical spacing between rows */
}

.form-row .MuiFormLabel-root {
    margin-right: 1vw; /* Add spacing between label and input */
    min-width: 100px; /* Ensure labels have a minimum width for alignment */
    font-size: 1rem; /* Shrink the text size on the labels */
    font-weight: bold; /* Make the labels bolder */
}

.form-row .MuiTextField-root {
    /* Target the root of TextField for flex-grow */
    max-width: 250px; /* Make the fields fixed width, adjust as needed */
}

#login-form .MuiButton-root {
    max-width: 250px; /* Constrain the button width */
}
